body{
   display:flex;
   flex-direction: column;
   min-height: 100vh;
   margin: 0;
}

*{
   text-decoration: none;
   list-style: none;
   /* border: 2px solid red; */
}

/* HEADER */

.header{
   display: flex;
   justify-content: space-between;
   background-color: #3d5e94;
   align-items: center;
   padding: 10px 120px 0px;
}

.header img{
   width: 55px;
}

ul{
   display: flex;
   margin: 0;
   padding: 0;
   gap: 32px;  
}

a{
   color: lightgray;
}

/* BODY 1 */

h1{
   margin: 0;
}

.body1{
   display:flex;
   align-items: center;
   padding: 0;
   justify-content: space-between;
   padding: 64px 120px;
   gap: 78px;
   background-color: #3d5e94;
}

.leftcontent{
   display: flex;
   flex-direction: column;
   align-items: flex-start;
   align-self: flex-start;
   gap: 20px;
}

.title{
   color: white;
}

.titlesubtext{
   color:lightgray;
}

.signuph{
   color: white;
   background-color: #703030;
   padding: 4px 12px;
   border-radius: 8px;
   border-style: none;
}

/* BODY 2 */

 .body2{
    padding: 64px;
 }

 .title2{
    text-align: center;
    font-weight: bold;
    font-size: 32px;
    padding-bottom: 64px;
 }

 .body2content{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 128px;
    padding-bottom: 64px;
 }

.info{
    width: 200px;
    text-align: center;
}

 .box{
    width: 200px;
    height: 200px;
    border: solid #3d5e94;
    border-radius: 8px;
    margin-bottom: 12px;
 }


 /* BODY 3 */
 
 .body3{
    background-color: #e8e7e6;
    padding: 129px 0px 128px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: center;
    
}

 .quote{
    font-size: 30px;
    width: 800px;
    
 }

 .author{
    width:800px;
    text-align: end;
 }